body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    padding: 17px;
    justify-content: space-evenly;
    align-items: center;
    color: aqua;
    background-color: rgb(31, 30, 30);
    flex-wrap: wrap;
    position: fixed;
    /* Make the navbar fixed */
    top: 0;
    /* Position it at the top */
    width: 100%;
    /* Full width */
    z-index: 1000;
    /* Ensure it's above other elements */
}


nav a {
    color: aqua;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
    background-color: transparent;

}

main {
    display: grid;
    justify-content: center;
    padding: 20px;
    margin-top: 120px;
}

.img-container {
    display: grid;
    width: 100%;
    justify-content: center;
    place-items: center;
}

.name {
    text-align: center;
    font-weight: 700;
    color: aquamarine;
    font-size: 30px;
}

.image:hover {
    border-radius: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 15px 5px aqua;
}

.share-plate {
    height: 40px;
    border: 2px solid aqua;
    width: 180px;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

.hover:hover {
    box-shadow: 0 0 15px 5px aqua;
}

.share-plate a {
    text-decoration: none;
    color: white;
}

.line {
    height: 2px;
    width: 80%;
    background-color: aqua;
   margin-left: 10%;
}

/* another section starting here */
.box {
    height: auto;
    width: 45%;
    border-radius: 15px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.box-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
 flex-wrap: nowrap;
}

.year {
    font-size: 26px;
    color: #ffbd39;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 900;
    margin: 90px 0px 10px 25px;
}

.position {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 90px 0px 10px 25px;
    color: #9999;
}

.sc-name {
    font-family: -apple-system;
    font-size: 26px;
    font-weight: 600;
    margin: 25px;
    color: white;
}
.achieve{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 22px 0px 17px 25px;
    color: #9999 
}